.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.loader {
    width: 48px;
    height: 48px;
    border: 4px solid rgba(2, 136, 209, 0.2);
    border-top: 4px solid #0288D1;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
}

/* Dark mode */
.night-mode .loader {
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top: 4px solid #4FC3F7;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}