@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.weather_icon {
    width: 100px;
    height: 100px;
    animation: float 4s ease-in-out infinite;
    font-size: 2rem;
    transition: filter 0.3s ease;
}

.weather_icon:hover {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
}